*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #00ffb7;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin-left:0cm;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    
}

nav ul {
    list-style-type: none;
    margin-left:30cm;
    margin-top: -1cm;
}

nav ul li {
    display: inline;
    margin-right: 35px;
}

nav ul li a {
    color: #000000;
    text-decoration:underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

.main {
    margin-left: 15cm;
}

.product1,.product2 {
    display: inline-block;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.product3,.product4 {
    display: inline-block;

    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 100%;
}

footer {
    background-color: #00ffb7;
    color: #000000;
    text-align: center;
    padding: 20px;
    margin-top: 5cm;
}

img{
    height: 100px;
    width: 100px;
    padding-left: 1.2cm;
}
.logo_name{
    padding-left: 2cm;
}

.login-container {
    position: absolute;
    top: 20px;
    right: 20px; 
}

.search-container {
    position: absolute;
    top: 18%;
    left: 35%;
}

.search-container input[type="text"] {
    width: 300px; 
    padding: 10px;
    border: 2px solid #656464;
    border-radius: 20px;
}
.search-container input[type="submit"] {
    border-radius: 20px;
}

a:hover{
    color:white;
}