<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Ur Choice</title>
    <link rel="icon" href="..\static\Bike logo.png">
    <link rel="stylesheet" href="..\static\login.css">
</head>

<body>
    <header>
        <img src="..\static\bike_logo_2.png" alt="logo">
        <h1>BIKES UR</h1>
        <h1 class="logo_name">CHOICE</h1>
        <nav>
            <ul>
                <li><a href="#">Buy a bike</a></li>
                <li><a href="#">Sell a bike</a></li>
                <li><a href="#">Car Finance</a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
        <div class="login-container">
            <button>
                Sign in / Sign up
                <div class="arrow-wrapper">
                    <div class="arrow"></div>
            
                </div>
            </button>
        </div>

    </header>
    <hr>
    <main>
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </div>

        <div class="brand-container">
            <a href="#"><img src="..\static\bajaj-logo.png" alt="logo"></a>
            <a href="#"><img src="..\static\ktm-logo.png" alt="logo"></a>
            <a href="#"><img src="..\static\re-logo.png" alt="logo"></a>
            <a href="#"><img src="..\static\tvs-logo.png" alt="logo"></a>
            <a href="#"><img src="..\static\bmw-logo.png" alt="logo"></a>
            <a href="#"><img src="..\static\yamaha-logo.png" alt="logo"></a>
        </div>


        <div class="products-container">
            <div class="product-arrow">
                <h1>Recently Added Bikes</h1>
                <img src="..\static\arrow.png" alt="arrow">
            </div>
            <!-- Product 1 -->
            <div class="product">
                <img src="..\static\royal-enfield.jpg" alt="bike">
                <h4>2016 Royal Enfield Classic 350</h4>
                <div class="bike-detiles">
                    <p>15,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-29</p>
                </div>
                <div class="price-detiles">
                    <p>₹5000/month</p>
                    <p>₹1,50,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍New Busstand,Salem</p>
                </div>
            </div>

            <!-- Product 2 -->
            <div class="product"> 
                <img src="..\static\ns200.png" alt="bike">
                <h4>2021 PULSAR NS200</h4>
                <div class="bike-detiles">
                    <p>20,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-32</p>
                </div>
                <div class="price-detiles">
                    <p>₹5000/month</p>
                    <p>₹80,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍Kadathur,Dharmapuri</p>
                </div>
            </div>

            <div class="product">
                <img src="..\static\ktm-duke-200.png" alt="bike">
                <h4>2019 KTM-DUKE 200 </h4>
                <div class="bike-detiles">
                    <p>10,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-29</p>
                </div>
                <div class="price-detiles">
                    <p>₹5000/month</p>
                    <p>₹1,70,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍Karimangalam,Dharmapuri</p>
                </div>
            </div>

            <div class="product">
                <img src="..\static\r15.png" alt="bike">
                <h4>2017 YAMAHA R-15 v3 </h4>
                <div class="bike-detiles">
                    <p>25,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-29</p>
                </div>
                <div class="price-detiles">
                    <p>₹5000/month</p>
                    <p>₹1,70,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍Bommidi,Dharmapuri</p>
                </div>
            </div>

            <div class="product">
                <img src="..\static\z900.png" alt="bike">
                <h4>2018 kawasaki z900 </h4>
                <div class="bike-detiles">
                    <p>30,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-42</p>
                </div>
                <div class="price-detiles">
                    <p>₹13,000/month</p>
                    <p>₹7,00,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍Kangayam,Tiruppur</p>
                </div>
            </div>

            <div class="product">
                <img src="..\static\tvs-rr310.png" alt="bike">
                <h4>2020 TVS RR310 </h4>
                <div class="bike-detiles">
                    <p>17,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-36</p>
                </div>
                <div class="price-detiles">
                    <p>₹7,000/month</p>
                    <p>₹1,80,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍Gobichettipalayam,Madurai</p>
                </div>
            </div>

            <div class="product">
                <img src="..\static\xpulse.png" alt="bike">
                <h4>2018 HERO X-PULSE </h4>
                <div class="bike-detiles">
                    <p>32,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-36</p>
                </div>
                <div class="price-detiles">
                    <p>₹3,000/month</p>
                    <p>₹70,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍Bhavani,Erode</p>
                </div>
            </div>
            
        </div>
    </main>
    <section class="chooseme-container">
        <div>
            <h1>Why Buy From US ?</h1>
        </div>

        <div class="chooseme">
            <img src="..\static\warrenty.png" alt="">
            <h3>1.BUC warranty</h3>
            <p>Enjoy complete peace of mind <br>
               with warranty plans up to 12 <br>
               months to protect your bike.
            </p>
        </div>

        <div class="chooseme">
            <img src="..\static\happy-customer.png" alt="">
            <h3>2. One Month Return</h3>
            <p>Love it, keep it. <br>
               Changed your mind? <br>
               Return it within 7 days
               for a full refund
            </p>
        </div>

        <div class="chooseme">
            <img src="..\static\easy-finance.png" alt="">
            <h3>3.Easy Financing Option</h3>
            <p>Become eligible for Zero Down <br>
               Payment via EMIs of up to 72 <br>
               months and instant loans
            </p>
        </div>
    </section>

    <div class="rating-container">

        <div class="motivates">
            <h1>What Motivates us</h1>
            <h3>4.0 +</h3>
            <h3>Average <br> online rating</h3>
            <div class="rating-app">
                <a href="#"><img src="..\static\play-store.png" alt="" ></a>
                <a href="#"><img src="..\static\app-store.png" alt=""></a>
            </div>
        </div>

        <div class="review1 ">
            <img src="..\static\review1.png" alt="">
            <h1>Nithyanand</h1> 
            <a href="#"><h2>@nithy_anand_420</h2></a>
            <p>The buying process was transparent <br>
                and quick, with a loan secured in <br>
                just 7 hours. Bike_ur_choice ensured a <br>
                smooth transaction and resolved <br>
                any concerns.
            </p>
            <h6>12 Jan, 2024</h6>
        </div>

        <div class="review1">
            <img src="..\static\review2.png" alt="">
            <h1>Balamurugan</h1>
            <a href="#"><h2>@bala_42_0</h2></a>
            <p>I want to thank Bike_ur_choice for their<br>
                outstanding service. They quickly <br>
                resolved all my concerns with <br>
                utmost professionalism, ensuring <br>
                my experience was highly <br>
                praiseworthy.
            </p>
            <h6>3 Jan, 2024</h6>
        </div>

        <div class="review1">
            <img src="..\static\review3.png" alt="" >
            <h1>vikki_official</h1>
            <a href="#"><h2>@vikki_420</h2></a>
            <p>Got my dream car in a day, the<br>
                finance process was smooth, with<br>
                all the paperwork being handled <br>
                seamlessly in a paperless manner.
            </p>
            <h6>22 Dec, 2023</h6>
        </div>

    </div>

    <div>
        <div class="sell-a-bike-image">
            <img src="..\static\sell-a-bike.png">
        </div>

        <div class="sell-a-bike">
            <h1>Selling a bike? We’re buying!</h1>
            <p>Get up to ₹20,000 when you sell <br> and buy your next bike from us.</p>
        </div>

    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-column-1">
                <h2>KEEP IN TOUCH</h2>
                <span>
                    <a href="#"><img src="..\static\ig.png" alt=""></a>
                    <a href="#"><img src="..\static\fb.png" alt=""></a>
                    <a href="#"><img src="..\static\tt.png" alt=""></a>
                    <a href="#"><img src="..\static\wp.png" alt=""></a>
                </span>
                <h3>EXPERIENCE BIKE_UR_CHOICE APP ON MOBILE</h3>
                <h4>POWERED BY BIKE_UR_CHOICE</h4>
                <div class="footer-bottom">
                    <a href="#"><img src="..\static\google-play.png" alt="Google Play"></a> <br>
                    <a href="#"><img src="..\static\apple-store.png" alt="Apple Store" style="height: 95px;"></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul style="margin-top: 1cm;" >
                    <h3>USEFUL LINKS</h3>
                    <div style="margin-top: 0.5cm;">
                        <a href="#"><li>Contact Us</li></a>
                        <a href="#"><li>Security</li></a>
                        <a href="#"><li>Motor insurance</li></a>
                        <a href="#"><li>About Us</li></a>
                        <a href="#"><li>Privacy Policy</li></a>
                        <a href="#"><li>FAQCARS24 Finance</li></a>
                        <a href="#"><li>CARS24 Finance</li></a>
                        <a href="#"><li>Explore New Cars</li></a>
                    </div>
                </ul>
            </div>
            <div class="footer-column" style="margin-top: 4cm;">
                <h3>Contact Us</h3>
                <p style="margin-top: 0.5cm;">Email: bikes_ur_choice@example.com</p>
                <p style="margin-top: 0.5cm;">Phone: 8668169676</p>
                <p style="margin-top: 0.5cm;">Address: 123 Main Street, Salem,Tamilnadu</p>
            </div>
        </div>
        <p>&copy; 2024 My E-commerce Website. All rights reserved.</p>
    </footer>
    
    

</body>

</html>