<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My E-commerce Website</title>
    <link rel="icon" href="..\static\Bike_logo2.png">
    <link rel="stylesheet" href="..\static\login.css"> <!-- Link to your CSS file -->
</head>

<body>
    <header>
        <img src="..\static\bike_logo_2.png" alt="logo">
        <h1>BIKES UR</h1>
        <h1 class="logo_name">CHOICE</h1>

        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </div>


        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="login-container">
            <button>
                Sign up
                <div class="arrow-wrapper">
                    <div class="arrow"></div>
            
                </div>
            </button>
        </div>
    </header>
    <hr>
    <main>
        <div class="products-container">
            <!-- Product 1 -->
            <div class="product">
                <img src="..\static\royal-enfield.jpg" alt="bike">
                <h4>2016 Royal Enfield Classic 350</h4>
                <div class="bike-detiles">
                    <p>15,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-29</p>
                </div>
                <div class="price-detiles">
                    <p>₹5000/month</p>
                    <p>₹1,50,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍New Busstand,Salem</p>
                </div>
            </div>

            <!-- Product 2 -->
            <div class="product"> 
                <img src="..\static\ns200.png" alt="bike">
                <h4>2021 PULSAR NS200</h4>
                <div class="bike-detiles">
                    <p>20,000 kms</p>
                    <p>1st Owner</p>
                    <p>TN-32</p>
                </div>
                <div class="price-detiles">
                    <p>₹5000/month</p>
                    <p>₹80,000</p>
                </div>
                <div class="zero-payment">
                    <p>zero down payment</p>
                </div>
                <div class="location">
                    <p>📍Kadathur,Dharmapuri</p>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <p>&copy; 2024 My E-commerce Website. All rights reserved.</p>
    </footer>
</body>

</html>