<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Bike</title>
</head>
<body>
    <h1>Register Bike</h1>
    <form action="/register-bike" method="POST" enctype="multipart/form-data">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image"><br>
        <label for="bike_name">Bike Name:</label><br>
        <input type="text" id="bike_name" name="bike_name"><br>
        <label for="kms_driven">Kilometers Driven:</label><br>
        <input type="text" id="kms_driven" name="kms_driven"><br>
        <label for="owner_details">Owner Details:</label><br>
        <input type="text" id="owner_details" name="owner_details"><br>
        <label for="register_details">Register Details:</label><br>
        <input type="text" id="register_details" name="register_details"><br>
        <label for="emi_details">EMI Details:</label><br>
        <input type="text" id="emi_details" name="emi_details"><br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br>
        <label for="location_details">Location Details:</label><br>
        <input type="text" id="location_details" name="location_details"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
