<head>
    <title>Register</title>
    <style>
        .one{
            background-color: black;
            color:white;
        }
        .two{
            background-color: pink;
            color:black;
        }
        .three{
            background-color:white;
            color:black;
        }
    </style>
</head>
<body>
    <center>
        <div class="one">
        <h1>BIKES YOUR CHOICE🏍️</h1>
        <h3>Life is like riding a bicycle. To keep your balance, you must keep moving</h3>
        <p>Four wheels move the body; two wheels move the soul. Life is short, buy the motorcycle, have a ride, live your dreams. You don't stop riding when you get old; you get old when you stop riding.</p>
        </div>
        <hr>
        <div class="two">
        <h1>Registration Form</h1>

    <form>
        <table>
            <tr>
                <td>Name</td><td><input type="text" placeholder="Enter your name"></td>
            </tr>
            <tr>
                <td>Age</td><td><input type="text" placeholder="Enter your age"></td>
            </tr>
            <tr>
                <td>Name</td><td><input type="radio" name="gender">male<input type="radio" name="gender">female</td>

            </tr>
            <tr>
                <td>Email</td><td><input type="email" placeholder="Enter your email"></td>
            </tr>
            <tr>
                <td>select a Bike</td>
                <td>
                    <select>
                        <option>Pulser</option>
                        <option>Royal Enfield</option>
                        <option>KTM</option>
                        <option>TVS Raider</option>
                        <option>Hero</option>
                    </select>
                </td>
                
            </tr>
            <tr>
                <td>Upload your license</td><td><input type="file"></td>
            </tr>
            <tr>
                <td><input type="reset"></td><td><input type="submit"></td>
            </tr>
        </table>
    </form>
    </div>
    <hr>
    <div class="three">
    <p>
        <a href="login.html">Home |</a><a href="">Register |</a><a href="">Shop |</a><a href="">About |</a><a href="">Contact |</a>
    </p>
</div>
</body>