<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Bike Details</title>
</head>
<body>
    <h1>Update Bike Details</h1>
    <form action="/update-bike/{{ bike[0] }}" method="POST" enctype="multipart/form-data">
        <label for="image">Update Image:</label><br>
        <input type="file" id="image" name="image" value="{{bike[1]}}"><br>
        <label for="bike_name">Bike Name:</label><br>
        <input type="text" id="bike_name" name="bike_name" value="{{ bike[2] }}"><br>
        <label for="kms_driven">Kilometers Driven:</label><br>
        <input type="text" id="kms_driven" name="kms_driven" value="{{ bike[3] }}"><br>
        <label for="owner_details">Owner Details:</label><br>
        <input type="text" id="owner_details" name="owner_details" value="{{ bike[4] }}"><br>
        <label for="emi_details">EMI Details:</label><br>
        <input type="text" id="emi_details" name="emi_details" value="{{ bike[5] }}"><br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price" value="{{ bike[6] }}"><br>
        <label for="location_details">Location Details:</label><br>
        <input type="text" id="location_details" name="location_details" value="{{ bike[7] }}"><br><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
